:host {
  display: block;
  left: 0;
  width: 100%;
  height: 100vh;
}

.register {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: #f8f9f9;

  section {
    background: url("/assets/images/login.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    .error-box {
      width: auto;
      background: #fd4444;
      color: #fff;
      padding: 20px;
      margin: 25px 0px;
      transition: all ease-in-out;
      font-size: 14px;
      .mat-icon {
        font-size: 18px;
      }
    }

    .error-notification {
      margin-top: 20px;
    }

    .title {
      color: #000000;
      font-size: 22px;
      font-style: italic;
    }

    .mat-form-field {
      width: 100%;
      font-size: 14px;
      margin-top: 10px;
    }

    mat-card {
      height: auto;
      width: 50%;
    }

    .register-form-grp{
      margin-top: 20px;
      .icon{
        margin-right: 5px;
      }
    }

    .register-form {
      padding: 20px;

      .flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        .flex-input{
          width: 45%;
          margin: 0px 16px;
        }
      }
    }

    .submit-cnt {
      margin-top: 40px;
      text-align: end;
      padding: 0px 20px 20px 20px;
    }
  }
}

@media (max-width: 1360px) {
  .register {
    section {
      mat-card {
        width: 45%;
      }
      .register-form{
        .flex{
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;

          .flex-input{
            width: 100%;
            margin: 0px 16px;
          }
        }
      }
    }
  }
}

/* Responsive layout - makes a two column-layout instead of four columns - IpadPro*/
@media (max-width: 1024px) {
  .register {
    section {
      mat-card {
        width: 45%;
      }
      .register-form{
        .flex{
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;

          .flex-input{
            width: 100%;
            margin: 0px 16px;
          }
        }
      }
    }
  }
}

/* Responsive layout - makes a two column-layout instead of four columns - Ipad/Tablet */
@media (max-width: 800px) {
  .register {
    section {
      mat-card {
        width: 45%;
      }
      .register-form{
        .flex{
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;

          .flex-input{
            width: 100%;
            margin: 0px 16px;
          }
        }
      }
    }
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other - Mobile*/
@media (max-width: 600px) {
  .register {
    section {
      align-items: center;
      background-size: contain;
      height: 90%;
      mat-card {
        border: 0px;
        width: 80%;
        top: 20px;
        position: relative;
      }
      .register-form{
        .flex{
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;

          .flex-input{
            width: 100%;
            margin: 0px 16px;
          }
        }
      }
      button{
        width: 100%;
      }
    }
  }
}
