.home-page {
  height: 100%;
  .cloud {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
  }

  .project-desc {
    margin: 20px;
    p {
      font-size: 32px;
    }
    ul {
      li.items {
        margin: 20px 0px;
        font-size: 18px;
        opacity: 0.8;
      }
    }
  }
}

/* Responsive layout - makes a two column-layout instead of four columns - IpadPro*/
@media (max-width: 1024px) {
}

/* Responsive layout - makes a two column-layout instead of four columns - Ipad/Tablet */
@media (max-width: 800px) {
  .home-page {
    .cloud {
      top: 20%;
      height: 80%;
    }
    .project-desc {
      p {
        font-size: 24px;
      }
      ul {
        li.items {
          font-size: 14px;
        }
      }
    }
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other - Mobile*/
@media (max-width: 600px) {
  .home-page {
    .project-desc {
      p {
        font-size: 22px;
      }
      ul {
        li.items {
          font-size: 14px;
          margin: 10px 0px;
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -5440px;
  }
}
