<section class="home-page">
  <div class="">
    <section class="project-desc">
      <p> ASSESSMENT </p>
      <ul class="requiremts-list">
        <li class="items"> Create an Angular project using the Angular CLI </li>
        <li class="items"> Build a single page app with a sign-up form</li>
        <li class="items"> The form should allow users to enter first name, last name, email, and password </li>
        <li class="items"> All fields are required.</li>
        <li class="items"> Password validation:
          <ul>
            <li>Should be a minimum of eight characters </li>
            <li>Should contain lower and uppercase letters </li>
            <li>Should not contain user’s first or last name</li>
          </ul>
        </li>
        <li class="items"> Email should be validated but there are various ways of accomplishing this. So, show us what
          you consider as a proper email validation. </li>
        <li class="items"> The form should send a POST request to https://demo-api.now.sh/users.</li>
      </ul>
    </section>
  </div>
</section>
