.fedex-registration-app {
  .container {
    margin: 0 0 20px 0;
    height: 100%;
    min-height: 90vh;
  }

  .toolbarNav {
    display: none;
  }

  .overlay-bg.active{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
  }
}

@media (max-width: 1920px) {
}

@media (max-width: 1280px) {
  .fedex-registration-app {
    margin: 0;
  }
}

@media (max-width: 640px) {
  .fedex-registration-app {
    margin: 0;

    .container {
      height: auto;
    }

    .toolbarNav {
      position: fixed;
      bottom: 0;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      padding: 2em;
      background-color: white;

      -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
      box-shadow: 2px 2px 4px 5px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

      .toolbar-button{
        line-height: 2.2;

        .title{
          display: block;
          font-size: 10px;
        }
      }
      .active{
        color: #00A1DE;
      }
    }
  }
}
