<div class="fedex-registration-app">
  <app-header></app-header>
  <section class="container">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </section>
  <mat-toolbar class="toolbarNav">
    <button class="toolbar-button" mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon class="material-icons color_blue">home</mat-icon>
      <span class="title">Home</span>
    </button>
    <button class="toolbar-button" mat-button routerLink="/tech" routerLinkActive="active">
      <mat-icon class="material-icons color_blue">list</mat-icon>
      <span class="title">Tech</span>
    </button>
    <button class="toolbar-button" mat-button routerLink="/project" routerLinkActive="active">
      <mat-icon class="material-icons color_blue">dynamic_form</mat-icon>
      <span class="title">Project</span>
    </button>
  </mat-toolbar>
</div>
