/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html{
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body{
  margin:0;
}

.mat-card-header-text{
  margin: 0px !important;
}

.be-loading {
  transition: 0.3s;

  .be-spinner {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -20px;
    margin-right: -20px;
    z-index: 3;

    svg {
      -webkit-animation: be-spinner-rotation 1.4s linear infinite;
      animation: be-spinner-rotation 1.4s linear infinite;
      stroke: #4285f4;

      .circle {
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-animation: be-spinner-turn 1.4s ease-in-out infinite;
        animation: be-spinner-turn 1.4s ease-in-out infinite;
      }
    }
  }

  &:after {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 2;
  }
}

.be-loading-active:after,
.be-still-active:after {
  visibility: visible;
  opacity: 1;
}

.be-loading-active .be-spinner {
  display: block;
}

@-moz-keyframes be-spinner-rotation {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-o-keyframes be-spinner-rotation {
  0% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-ms-keyframes be-spinner-rotation {
  0% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-webkit-keyframes be-spinner-rotation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@keyframes be-spinner-rotation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}

@-moz-keyframes be-spinner-turn {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -moz-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@-o-keyframes be-spinner-turn {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -o-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@-ms-keyframes be-spinner-turn {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -ms-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@-webkit-keyframes be-spinner-turn {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes be-spinner-turn {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
